.signup-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #2f5651;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #2f5651;
  border-radius: 5px;
  max-width: 600px;
}


.signup-container {
  margin-top: 1140px; /* Adjusted margin top for space between header and signup container */
  text-align: center;
  color: #2f5651;
  background-color: #f0f0f0;
  padding: 20px;
  margin: 20px;
  border: 1px solid #2f5651;
  border-radius: 5px;
  max-width: 500px;
}

h2 {
  color: #2f5651; /* Set the color for the h2 element */
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: bold;
  color: #2f5651;
  font-size: 16px;
  margin-top: 8px;
}

.form-input {
  width: 100%;
  padding: 6px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  color: #333;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.submit-button {
  background-color: darkgreen; /* Updated button color to darkgreen */
  color: white;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 8px;
}

.submit-button:hover {
  background-color: #2f5651; /* Darker color on hover */
}

.signup-link a {
  color: #2f5651;
  text-decoration: none;
  font-weight: bold;
}

.signup-link:hover {
  text-decoration: underline;
}
